@import "GLOBALS";

* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1rem;
  height: 4rem;
  width: 100%;
  background-color: $color-secundario;
  font-family: $fuente-secundaria;
  letter-spacing: 5px;
  font-size: larger;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}


article {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-top: 1rem;
  font-family: $fuente-principal;
}

#botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.boton {
  padding: 1rem;
}

.trabajo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left:auto;
  margin: 1rem;
  padding: 2rem;
  text-align: center;
}

.icono {
  padding-left: 3rem;
  width: 100px;
}

.trabajo:hover {
    background-color: $color-secundario;
}

.redondeo {
  border-radius: 15px;
  border: 1px;
  padding: 20px;
  width: 200px;
  height: 150px;
}

h1 {
  font-size: 2.5rem;
}