@import "GLOBALS";

@media (min-width: 850px) {
* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 1rem;
  height: 4rem;
  width: 100%;
  background-color: $color-secundario;
  font-family: $fuente-secundaria;
  letter-spacing: 5px;
  font-size: larger;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}


article {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-top: 1rem;
  font-family: $fuente-principal;
}

#botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.boton {
  padding: 1rem;
}

.trabajo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left:auto;
  margin: 1rem;
  padding: 2rem;
  text-align: center;
}

.icono {
  padding-left: 3rem;
  width: 100px;
}

.trabajo:hover {
    background-color: $color-secundario;
}

.redondeo {
  border-radius: 15px;
  border: 1px;
  padding: 20px;
  width: 200px;
  height: 150px;
}

h1 {
  font-size: 2.5rem;
}

.enlace {
  text-decoration: none;
  color: black;
}

#buscador {
  height: 0.5em;
}

#searcher {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#searcher img {
  width: 2rem;
  padding-bottom: 1rem;
}

#home {
  width: 2rem;
}

#miga {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: $color-miga;
  padding-left: 1rem;
  padding-top: 1rem;
}
}


@media (min-width: 250px) and (max-width: 850px){
* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 1rem;
  height: 4rem;
  width: 100%;
  background-color: $color-secundario;
  font-family: $fuente-secundaria;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

header img {
  width: 2rem;
}

header h2 {
  padding-top: 0.5rem;
}

article {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 1rem;
  padding-top: 1rem;
  font-family: $fuente-principal;
}

#botones {
  display: flex;
  flex-direction: column;
  justify-content: center;

}


.trabajo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left:auto;
  padding: 2rem;
  text-align: center;
}

.icono {
  padding-left: 3rem;
  width: 100px;
}

.trabajo:hover {
    background-color: $color-secundario;
}

.redondeo {
  border-radius: 15px;
  border: 1px;
  padding: 20px;
  width: 200px;
  height: 150px;
}

article h1 {
  color: black;
  font-family: $fuente-responsive;
}

h1 {
  font-size: 1.5rem;
}

.enlace {
  text-decoration: none;
  color: black;
}

header h1 {
  font-size: 2.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div h2 {
  font-size: 1rem;
}

#searcher {
  display: none;
}

#miga {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: $color-miga;
  padding-top: 1rem;
}
}