@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@font-face {

  font-family: Gothic;
  
  src: url("/fonts/LeagueGothic-Regular.otf");
  
  }

$color-primario: #343434;
$color-primario-dk: #1a1a1a;
$color-primario-lg: #7e7e7e;

$color-secundario: #FFFD95;
$color-secundario-dk:#fffc51;
$color-secundario-lg: #fffecd;


$fuente-principal: 'Montserrat', sans-serif;
$fuente-secundaria: "Gothic", arial;