@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

$color-primario: #343434;
$color-primario-dk: #1a1a1a;
$color-primario-lg: #7e7e7e;

$color-secundario: #FFFD95;
$color-secundario-dk:#fffc51;
$color-secundario-lg: #fffecd;

$color-miga: rgb(93, 145, 153);

$fuente-principal: 'Montserrat', sans-serif;
$fuente-secundaria: 'Bebas Neue', cursive;
$fuente-responsive: 'Montserrat', sans-serif;