body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-236px;
  width:582px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:119px;
  width:578px;
  height:296px;
}
#u21_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:296px;
  overflow:auto;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:50px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:479px;
  width:47px;
  height:50px;
  display:flex;
}
#u22 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:50px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:479px;
  width:47px;
  height:50px;
  display:flex;
}
#u23 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
